[Unit]

Description = fetch email with offlineimap

[Service]

Type = oneshot
ExecStart = /home/id/.config/systemd/user/offlineimap.fish

[Install]

WantedBy = default.target
