[Unit]

Description = fetch email with offlineimap

[Service]

Type = oneshot
ExecStart = notmuch new
StandardOutput = null

[Install]

WantedBy = default.target
