[user]

    email = funk443@icloud.com
    name = CToID

[init]

    defaultBranch = main

[alias]

    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[filter "lfs"]

    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
