[user]

    email = funk443@icloud.com
    name = CToID
    signingKey = 63BDE2868CB949E6CB766698D5AFBA0F56335C9C

[init]

    defaultBranch = main

[alias]

    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[filter "lfs"]

    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[commit]

    gpgsign = true

[tag]

    gpgSign = true
