* {
    all: unset;
    border: none;
    border-radius: 0;
    font-family: 'Victor Mono';
    font-size: 10pt;
    min-height: 0;
}

window#waybar, tooltip, #tray menu {
    background-color: black;
    color: white;
}

#tray menuitem:hover {
    background-color: #303030;
}

#workspaces button{
    padding: 0 5px;
}

#workspaces button.visible {
    background-color: #5f676a;
}

#workspaces button.focused {
    background-color: #285577;
}

#workspaces button.urgent {
    background-color: #900000;
}

#mode {
    background-color: red;
}

#memory, #load, #clock, #battery, #pulseaudio {
    padding-left: 5px;
    margin-left: 5px;
}
